<div class="container">
    <div class="title">
        <h1 class="title-text">Introcution to Flexbox</h1>
    </div>

    <div class="explain">
        <p class="explain-text">Flexbox is a layout model that allows you to distribute items in a 2-Dimensional space along 1 axis. Using either the Main Axis or the Cross Axis, Items can be aligned along them with various amounts of spacing and positioning. Bellow there are examples of various attributes of Flexbox and their many layouts.</p>
    </div>

    <div class="section">
        <div class="header">
            <h2 class="header-text">Flex Direction: Horizontal, Vertical or Reverse of Either</h2>
        </div>
        <div class="direction-row">
            <div>1</div>
            <div>2</div>
            <div>3</div>  
            <div>4</div>
        </div>
        <div class="direction-column">
            <div>5</div>
            <div>6</div>
            <div>7</div>  
            <div>8</div>
        </div>
    </div>

    <div class="section">
        <div class="header">
            <h2 class="header-text">Justify Content: Change Horizontal Location or Spacing (Use Align-Content for Multiple Lines)</h2>
        </div>
        <div class="justify-start">
            <div>1</div>
            <div>2</div>
            <div>3</div>  
            <div>4</div>
        </div>
        <div class="justify-center">
            <div>5</div>
            <div>6</div>
            <div>7</div>  
            <div>8</div>
        </div>
        <div class="justify-end">
            <div>1</div>
            <div>2</div>
            <div>3</div>  
            <div>4</div>
        </div>
        <div class="justify-between">
            <div>5</div>
            <div>6</div>
            <div>7</div>  
            <div>8</div>
        </div>
        <div class="justify-around">
            <div>1</div>
            <div>2</div>
            <div>3</div>  
            <div>4</div>
        </div>
        <div class="justify-evenly">
            <div>5</div>
            <div>6</div>
            <div>7</div>  
            <div>8</div>
        </div>
    </div>

    <div class="section">
        <div class="header">
            <h2 class="header-text">Align Items: Change Vertical Location, Stetch to Fill, or Match Text Baseline</h2>
        </div>
        <div class="align-start">
            <div>1</div>
            <div>2</div>
            <div>3</div>  
            <div>4</div>
        </div>
        <div class="align-center">
            <div>5</div>
            <div>6</div>
            <div>7</div>  
            <div>8</div>
        </div>
        <div class="align-end">
            <div>1</div>
            <div>2</div>
            <div>3</div>  
            <div>4</div>
        </div>
        <div class="align-stretch">
            <div>5</div>
            <div>6</div>
            <div>7</div>  
            <div>8</div>
        </div>
        <div class="align-baseline">
            <div>1</div>
            <div>2</div>
            <div>3</div>  
            <div>4</div>
        </div>
    </div>
</div>
